<!DOCTYPE html>
<html lang="pl" style="height: 100%;">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ wp_head }}
</head>
<body id="body" style="height: 100%;">
	<div class="single">
		<div class="single__content" style="width: 100%;">
			<div class="single__head" style="background-image: url({{page.thumbnail}});'">
				<span class="single__title">
					{{page.title}}
				</span>
			</div>
			<div class="single__paragraph util__text-black">
				<div class="single__txt">
					{{page.content}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
