<div class="about" id="o_szkole">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="util__headline-1 util__headline-white">{{ pages.about.title }}</h1>
				</div>
			</div>
			<div class="row">
				{{ pages.about.content }}
		</div>
	</div>
</div>
