<div class="footer">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="util__headline-1 util__headline-white">inspiracje</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="footer__contact text-right">
						<img src="{{ site.theme.link }}/images/mail.png" alt="E-mail">
						<a class="footer__item util__text-white" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#46;&#102;&#97;&#98;&#106;&#97;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#109;&#46;&#102;&#97;&#98;&#106;&#97;&#110;&#115;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer__contact">
						<img src="{{ site.theme.link }}/images/telephone.png" alt="Telephone">
						<span class="footer__item util__text-white">500 500 500</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>