<div class="inspiration">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1 class="util__headline-1 util__headline-white">inspiracje</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="inspiration__icon">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAABBCAMAAABYQiwmAAAAn1BMVEX9/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f1yyJcwAAAANHRSTlMAAQIDBw4SFRcZJSkrNDY4PT5BR01SV1xfZmt4goOJjpKVmp61ubq8wMfK2d7g6evt7/P5gZ/GpQAAAKBJREFUeNrt1LcOwkAQhOE5MphkcjZgwBw53Ps/Gxadm5U8lhHF/v1X7BQLoOCvD8d07YO2QVz57JhsCSheHdfJYOTYfFjahnjT1sKpVatWbRY7rMhNBNuEXEewLSPX+8OtNmO5MMtWOdndSi7Kaav7JdlTtPK9/R/ZmZdsqX9DrVq1am+0jbCl7RwN2laBBUmniBu8CPno4pupe2mrGQAfJT/GzYdEFMUAAAAASUVORK5CYII=" alt="Dokumenty">
						<h2 class="inspiration__caption util__text-white">Teksty</h2>
					</div>
						<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>
						<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>


				</div>
				<div class="col-md-4">
					<div class="inspiration__icon">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAABBCAMAAABYQiwmAAAA2FBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+0oG7xAAAAR3RSTlMAAQIDBAUGBwgMDg8VFxkgJCUpMjM0Nj0+RE1PVFdYXF5mbHB0eHl/go6RkpSam56lqK2yubq8wMfK09XZ4OTo6e3z9fn7/aTXBioAAADPSURBVHgB7dXHUsMwGAfxFdj00IvpvfcugoCYku/93wiEGc7of2Iy2vvvvEBfdXx7n9bN4bwDGAmm5Aeh/8m0HhyrplbhZXvOu2w9lm222f5fe73+1UaQ7Boxt1jLFoqtrmxhOOiWK8EWZSlbb/ayPzOk2li7o9tYtr1jPy53to+eJXs2QKwQbNvRJNgVdDuLbpf5rU61j46fWpZq7aJs6GhIt/a2NzcxWZ1088uy/UPZdmR7x6lsd5mS7RgciHQTYOlVkPUC37nx6dRaDvgEnoPgDpHhI/kAAAAASUVORK5CYII=" alt="Wideo">
						<h2 class="inspiration__caption util__text-white">Video</h2>
					</div>
						<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>
						<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>


				</div>
				<div class="col-md-4">
					<div class="inspiration__icon">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAABBCAMAAABYQiwmAAABC1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+/RJMjAAAAWHRSTlMAAQIDBAUHCAkMDg8VFhcYGRweICUmKCktLzE0Njg6PT5BQ0ZJS01QV1tcXmFiZmtxc3V4fIKDhYaMjo+RkpWanZ6mra+5ury+wMfKzs/Z3uDk6Ont8/X51zS4TQAAASZJREFUeAHt1MdSKlEYxPE+94oiYs5iQMUgBgFzBoMoBhRQ+v2fxC5WQ1FSM59upOa3/29O13cA/Ete3D8Gc3c66yCxV1qUuoH/b7R5clinVRIlWhVQp+ynJEs/tlJyTimBlFFIP/3ogcz98XYmIuP0Ix6RFU9r8vM23LfD9z1JyyGbFLdzFbbKpqXQ/q2OALjpF9M790Hglj4NbRdEorfmVnbbtxNORr5psUyPmJPF9ht5Wmyyhe8WD8H2bWrXgu3b1OaN7ywJmtvhurlN1K37ugwZdN8oGgafDfe7Aek9s91vbmr+2nC/Hf8/W1uzX2jzGbmkH8cZuQn3Dff1CvetUqplqdCP97LUKEVc0WoPY7SKAwe02YGsfjC42gIa3NBkUAMOwBf7bD1n1wHgwwAAAABJRU5ErkJggg==" alt="Muzyka">
						<h2 class="inspiration__caption util__text-white">Muzyka</h2>
					</div>
					<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>
					<a href="#" class="inspiration__link text-center">Lorem ipsum dolor.</a>
					
				</div>

			</div>
		</div>
	</div>
</div>