<div class="news">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="util__headline-1 util__headline-black">
					<h1>Aktualności</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="http://lorempixel.com/300/200" class="news__img img-responsive" alt="Lorem">
				<h2 class="news__title">Umysł w naturze</h2>
				<h3 class="news__author-date">Jan Kowalski 2 kwietnia 2014</h3>
				<p class="util__paragraph util__text-black">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil est velit voluptatum placeat voluptas quaerat saepe dolore, quis voluptates eaque nemo dolorum cumque ullam expedita explicabo architecto hic iste sapiente minima ea. Reiciendis enim, deserunt mollitia suscipit molestiae in. Quae vero, aut quidem amet repellendus dolorum voluptatum corporis corrupti reprehenderit neque fuga, sequi architecto blanditiis recusandae maiores. Libero labore ipsam autem quisquam vel voluptas excepturi ea, a nihil accusamus sunt minus, odio sit culpa facere tempora nesciunt sapiente eligendi. Ex provident et ratione eaque, modi quam dolor similique quaerat itaque atque sunt est ab voluptate neque inventore, exercitationem in.
				</p>
				<div class="news__more-wrap">
					<a class="news__more" href="#">Czytaj Dalej</a>
				</div>
			</div>
			<div class="col-md-4">
				<img src="http://lorempixel.com/300/200" class="news__img img-responsive" alt="Lorem">
				<h2 class="news__title">Umysł w naturze</h2>
				<h3 class="news__author-date">Jan Kowalski 2 kwietnia 2014</h3>
				<p class="util__paragraph util__text-black">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil est velit voluptatum placeat voluptas quaerat saepe dolore, quis voluptates eaque nemo dolorum cumque ullam expedita explicabo architecto hic iste sapiente minima ea. Reiciendis enim, deserunt mollitia suscipit molestiae in. Quae vero, aut quidem amet repellendus dolorum voluptatum corporis corrupti reprehenderit neque fuga, sequi architecto blanditiis recusandae maiores. Libero labore ipsam autem quisquam vel voluptas excepturi ea, a nihil accusamus sunt minus, odio sit culpa facere tempora nesciunt sapiente eligendi. Ex provident et ratione eaque, modi quam dolor similique quaerat itaque atque sunt est ab voluptate neque inventore, exercitationem in.
				</p>
				<div class="news__more-wrap">
					<a class="news__more" href="#">Czytaj Dalej</a>
				</div>
			</div>
			<div class="col-md-4">
				<img src="http://lorempixel.com/300/200" class="news__img img-responsive" alt="Lorem">
				<h2 class="news__title">Umysł w naturze</h2>
				<h3 class="news__author-date">Jan Kowalski 2 kwietnia 2014</h3>
				<p class="util__paragraph util__text-black">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil est velit voluptatum placeat voluptas quaerat saepe dolore, quis voluptates eaque nemo dolorum cumque ullam expedita explicabo architecto hic iste sapiente minima ea. Reiciendis enim, deserunt mollitia suscipit molestiae in. Quae vero, aut quidem amet repellendus dolorum voluptatum corporis corrupti reprehenderit neque fuga, sequi architecto blanditiis recusandae maiores. Libero labore ipsam autem quisquam vel voluptas excepturi ea, a nihil accusamus sunt minus, odio sit culpa facere tempora nesciunt sapiente eligendi. Ex provident et ratione eaque, modi quam dolor similique quaerat itaque atque sunt est ab voluptate neque inventore, exercitationem in.
				</p>
				<div class="news__more-wrap">
					<a class="news__more" href="#">Czytaj Dalej</a>
				</div>
			</div>
		</div>
	</div>
</div>