<div class="opinion" id="opinie">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="util__headline-1 util__headline-black opinion__color">
						Opinie
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="opinion__slider">
						{% for post in opinie %}
							<div class="opinion__item">
								<p class="opinion__paragraph">
									{{post.post_excerpt}}
								</p>
								<div class="opinion__name">
									{{post.meta_imię_i_nazwisko}}
								</div>
								<div class="opinion__role">
									{{post.meta_zawod}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>