<div class="program" id="program">
	<div class="container-fluid">
		<div class="container">
			<div class="program__divider">
				<img src="{{ site.theme.link }}/images/dto_stripe.png" class="img-responsive hidden-xs" alt="Stripe">
			</div>
			<div class="row">
				<div class="col-md-7">
					<h1 class="util__headline-1 util__headline-black">program</h1>
					<p class="util__paragraph util__text-black">
						Filozofia dostrojenia do procesu życia uczy jak opierać się na otwartych zasobach, dostępnych w naszym własnym ciele i umyśle oraz środowisku, którego ciało i umysł są częścią. Te zasoby, w przeciwieństwie do możliwości ego są niewyczerpalne. Odnawiają się same będąc częścią toczącego się w nas i wokół nas procesu życia.
						<br>
						W jednym miesiącu spotykamy na weekend (2x10 godzin) w Warszawie oraz trzy razy online, co tydzień, po trzy godziny (potrzebujecie tylko dostępu do Internetu). 
						<br>
						Edycja wiosenna: marzec – maj<br>
						Edycja jesienna: październik - grudzień<br>
					</p>
					<h2 class="program__section-headline-2 util__text-black">
						I. Program spotkań
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h3 class="program__section-headline-3">
						1. Myślenie
					</h3>
					<h4 class="program__section-headline-4">
						miesiąc pierwszy
					</h4>
					<ul class="program__list">
						<li>Sesja pierwsza: </li>
						<li>Panowanie nad wewnętrzną mową</li>
						<li>Wewnętrzne opowieści</li>
						<li>Sesja trzecia:</li>
						<li>Świadoma komunikacja</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<h3 class="program__section-headline-3">
						2. Percepcja
					</h3>
					<h4 class="program__section-headline-4">
						miesiąc drugi
					</h4>
					<ul class="program__list">
						<li>Sesja czwarta:</li>
						<li>Relacja ze zmysłami</li>
						<li>Sesja piąta:</li>
						<li>Medytacja wglądu</li>
						<li>Sesja szósta: </li>
						<li>Odkodowanie percepcji</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<h3 class="program__section-headline-3">
						3. Egzystencja
					</h3>
					<h4 class="program__section-headline-4">
						miesiąc trzeci
					</h4>
					<ul class="program__list">
						<li>Sesja siódma:</li>
						<li>Architektura emocji</li>
						<li>Sesja ósma:</li>
						<li>Detoksykacja z nieśmiertelności</li>
						<li>Sesja dziewiąta:</li>
						<li>Dostrojenie do procesu życia</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h2 class="program__section-headline-2 util__text-black">
						II. Program odosobnień
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<ul class="program__list">
						<li>Puszcza Białowieska:</li>
						<li>Umysł w naturze</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<ul class="program__list">
						<li>Tajlandia:</li>
						<li>Medytacja wglądu</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<a href="{{settings.down_link_id}}"><div class="program__download-all"></div></a>
				</div>
			</div>
		</div>
	</div>
</div>