.filtr {

	color: #fff;
	background-image: url('../images/filtr.jpg');
	background-size: cover;
	position: relative;

	&__headline {
		position: absolute;
		top:0;
		left: 0;
		font-variant: small-caps;
		font-size: 30px;

		@media (max-width: @screen-xs-max) {
			width: 100%;
			text-align: center;
			top: -9px;
		}

	}

	&__slider-wrap {
		height: 660px !important;
		width: 66%;
		margin: 0 auto;

		@media (max-width: @screen-xs-max) {
			width: 90%;
		}
	}

	&__slider {
		font-size: 24px;
	}

	&__slide {
		width: 100%;
		height: 220px !important;
		display: table !important;
		text-align: center !important;

		span {
			display: table-cell !important;
			vertical-align: middle !important;
		}

	}

}
