.footer {
	background-color: #264242;
	padding-bottom: 40px;

	&__contact {
		margin-top: 20px;
		text-align: center;
		img {
			margin-right: 30px;
			@media (max-width: @screen-xs-max) {
				display: block;
				margin: 0 auto;
			}
		}
	}
	&__item {
		font-family: @font-family-sans-serif;
		font-size: 30px;
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}