.program {
	background-image: url(../images/program_tlo.jpg);
	padding-bottom: 35px;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #cfcfcf;
	position: relative;

	&__section-headline-2 {
		font-family: @font-family-sans-serif;
		font-size: 30px;
		letter-spacing: 3pt;
		font-variant: small-caps;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
	}

	&__divider {
		position: absolute;
		top: 51.3%;
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
			top: 50%;

			img {
				width: 92%;
			}
		}
	}

	&__section-headline-3 {
		font-family: @font-family-sans-serif;
		font-size: 24px;
		letter-spacing: 1pt;
		font-variant: small-caps;
		margin: 0;
		padding: 0;
		margin-bottom: 24px;
		@media (max-width: @screen-xs-max) {
			margin-bottom: 4px;
		}

	}
	&__section-headline-4 {
		font-family: @font-family-serif;
		font-size: 24px;
		letter-spacing: 1px;
		text-align: center;
		color: #bd3636;
		font-variant: small-caps;
		margin: 0;
		padding: 0;
		margin-top: 30px;
		margin-bottom: 38px;
		@media (max-width: @screen-xs-max) {
			text-align: left;
			margin-top: 10px;
			margin-bottom: 18px;
		}
	}
	&__list {
		font-family: @font-family-serif;
		font-size: 16px;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
		li {
			margin-bottom: 10px;
		}
		li:nth-child(even) {
			margin-left: 40px;
			@media (max-width: @screen-xs-max) {
				margin-left: 0px;
				font-weight: 700;
			}
		} 
	}
}