.single {
	background-color: #fff;
	
	&__title {
		display: inline-block;
		color: #bd3636;
		font-weight: 700;
		padding-bottom: 12px;
		margin: 0;
		font-size: 40px;
		padding-left: 10px;
	}

	&__paragraph {
		padding-bottom: 24px;
		font-family: @font-family-serif;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__inline-block {
		display: inline-block;
	}
}