.mfp-iframe-holder .mfp-content { 
	height: 90%;
}
.single {
	background-color: #fff;
	
	&__title {
		display: block;
		width: 100%;
		height: 100px;
		background-image: url(http://lorempixel.com/600/100);
		color: #bd3636;
		font-weight: 700;
		font-size: 40px;
		//padding-left: 10px;
	}

	&__paragraph {
		font-family: @font-family-serif;
		font-size: 16px;
	}
	&__inline-block {
		display: inline-block;
	}
}